block content
  p(class="letraChida h4 pt-5") Add Patient
  span(class="letraChida h6 text-secondary") Enter patient information for registration.
  form(class="pt-5 w-100" action="/main/patient/add", method="POST") Ingresela informacion del paciente
    legend(class="letraChida h4") Personal information
    .row
      div(class="m-3 col position-relative d-flex flex-colum justify-content-start w-25 h6")
        label(for="document") DNI:
        input(class="position-absolute start-0 inputses2 h6 m-2 p-2" id="document" name="document" type="text")
      div(class="m-3 col position-relative d-flex flex-colum justify-content-start w-25 h6")
        label(for="first_name") First Name:
        input(class="position-absolute start-0 inputses2 h6 m-2 p-2" id="first_name" name="first_name" type="text")
      div(class="m-3 col position-relative d-flex flex-colum justify-content-start w-25 h6")
        label(for="last_name") Last Name:
        input(class="position-absolute start-0 inputses2 h6 m-2 p-2" id="last_name" name="last_name" type="text")
    .row
      div(class="m-3 col position-relative d-flex flex-colum justify-content-start w-25 h6")
        label(for="phone") Phone:
        input(class="position-absolute start-0 inputses2 h6 m-2 p-2" id="phone" name="phone" type="text")
      div(class="m-3 col position-relative d-flex flex-colum justify-content-start w-25 h6")
        label(for="email") Email:
        input(class="position-absolute start-0 inputses2 h6 m-2 p-2" id="email" name="email" type="email")
      div(class="m-3 col position-relative d-flex flex-colum justify-content-start w-25 h6")
        label(for="password") Password:
        input(class="position-absolute start-0 inputses2 h6 m-2 p-2" id="password" name="password" type="password")
    .row
      div(class="m-3 col position-relative d-flex flex-colum justify-content-start w-25 h6")
        label(for="gender") Gender:
        input(class="position-absolute start-0 inputses2 h6 m-2 p-2" id="gender" name="gender" type="text")
      div(class="m-3 col position-relative d-flex flex-colum justify-content-start w-25 h6")
        label(for="location") Location:
        input(class="position-absolute start-0 inputses2 h6 m-2 p-2" id="location" name="location" type="text")
      div(class="m-3 col position-relative d-flex flex-colum justify-content-start w-25 h6")
        label(for="adress") Adress:
        input(class="position-absolute start-0 inputses2 h6 m-2 p-2" id="adress" name="adress" type="text")
    div(class="mt-5 w-100 d-flex justify-content-center")
      button(class="btn mt-5 bg-dark text-white rounded-0 w-25 letraChida shadow-sm")
        a(class="enlace text-white letraChida h6 w-100 h-100") Register