include head

div(class="container mt-5")
    div(class="row justify-content-center")
        div(class="col-12")
            div(class=" table-responsive rounded p-4 border table-container")
                table(class="table table-striped table-hover" id="examsTable")
                    thead(class="table-primary")
                        tr
                            th(class="text-center fs-5") Select
                            th(class="text-center text-nowrap fs-5") Exam id
                            th(class="text-center fs-5") Name
                            th(class="text-center fs-5") Common
                    tbody(id="examTd")
                        each exam in examenes
                            tr
                                td(class="text-center")
                                    input(type="radio" id=exam.id)
                                td(class="text-center") #{exam.id}
                                td(class="") #{exam.detail}
                                td(class="") #{exam.common}
                    tr 
                        td             
                            button(type="button" class="btn btn-primary" id="botondialog") Save                               
                        td             
                            button(type="button" class="btn btn-primary" id="botondialog") Cancel                               
script(src="/assets/js/tableExam.js" defer)

