footer.footer
    .container
        .row
            .col-md-6
                h4 Informacion de Contacto
                p
                    | Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos.
                address
                    | Direccion: 123 Calle del Laboratorio
                    br
                    | Ciudad, Pais
                p
                    | Teléfono: (123) 456-7890
                p
                    | Correo Electronico: info@tu-sitio-lis.com
            .col-md-6
                h4.Enlaces Rapidos
                ul
                    li
                        a(href="/about") Acerca de Nosotros
                    li
                        a(href="/services") Nuestros Servicios
                    li
                        a(href="/contact") Contáctanos
                    li
                        a(href="/faq") Preguntas Frecuentes
    .text-center
        p.small
            | ©
            span.bold Tu Sitio LIS
            | Todos los derechos reservados.

