doctype html
html(lang='es' data-lis='Laboratorio LIS')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title LIS
        link(href='/assets/css/bootstrap.css' rel='stylesheet')
        link(href='/assets/css/lis_estilo.css' rel='stylesheet')
        link(href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.css" rel="stylesheet")
        link(href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.css" rel="stylesheet")
        link(href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.css" rel="stylesheet")
        link(href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.css" rel="stylesheet")
        //- iconos
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
        script(src="https://code.jquery.com/jquery-3.7.0.js")
        script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js")
        script(src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.js")
        script(src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.js")
        script(src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.js")        
        script(src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.js")
        script(src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.js")
        script(src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.js")
        script(src='/assets/js/bootstrap.js')
        link(href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/toastify-js")
        script(src='/assets/js/utils.js' defer)
        block contenido
