link(href="https://cdn.datatables.net/1.13.6/css/jquery.dataTab/les.css" rel="stylesheet")
link(href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.css" rel="stylesheet")
link(href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.css" rel="stylesheet")
link(href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.css" rel="stylesheet")
link(href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.css" rel="stylesheet")
link(href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.css" rel="stylesheet")

script(src="https://code.jquery.com/jquery-3.7.0.js")
script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js")
script(src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.js")
script(src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.js")
script(src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.js")
script(src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.js")
script(src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.js")
script(src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.js")
script(src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.js")