doctype html
html(lang='es' data-lis='Laboratorio LIS')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title LIS
        link(href='./assets/css/bootstrap.css' rel='stylesheet')
        link(href='./assets/css/lis_estilo.css' rel='stylesheet')
        script(src='./assets/js/bootstrap.js')
        script(src='./assets/js/main.js' defer)
    body    
        block contenido
