extends head
block contenido
    .lis-div
        nav.navbar.navbar-expand-md
            .nav-container
                button.navbar-toggler.nav-button(type='button' data-bs-toggle='collapse' data-bs-target='#navbarLis' aria-controls='navbarTogglerDemo01' aria-expanded='false')
                    span.navbar-toggler-icon
                div.nav-container.navbar-collapse#navbarLis

                    ul.navbar-nav.me-auto.mb-2.mb-lg-0

                        li.nav-item
                            p.nav-link#admin Administracion
                        li.nav-item
                            p.nav-link#estudios Estudios
                        li.nav-item
                            p.nav-link#order Ordenes
            .nav-container
                img#lis-logo(src="./assets/img/lis1.png" alt="Logo Laboratorio")


        main.col-12
            .info-alert
                .p-container
                    p.alert-title Proximo Turno                    
                    p.alert-title#turno-value 54

                .p-container
                    p.alert-title  Proxima orden   
                    p.alert-title#orden-value 1086
                .p-container#alert
                    p.alert-title Notificaciones
                    p.alert-title#oalert-value 1086    

            //-- encabezado izqueirdo seccion fomracion
            .lis-section.col-6

                //- Contenido de la sección izquierda
                #izq
            //-    include ./user/usersView

            .lis-section.col-6
                //- contenido de la seccion
                #der


