extends head
block contenido
    .lis-div
        nav.navbar.navbar-expand-md
            .nav-container
                button.navbar-toggler.nav-button(type='button' data-bs-toggle='collapse' data-bs-target='#navbarLis' aria-controls='navbarTogglerDemo01' aria-expanded='false')
                    span.navbar-toggler-icon
                div.nav-container.navbar-collapse#navbarLis
                    a.navbar-brand#lis-logo(href='#') logo lab
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        li.nav-item
                            p(class="menu-link" id="/user")
                            a.nav-link.active.menu-link(id='/user' aria-current='page' href='#') Pacientes
                        li.nav-item
                            a.nav-link(href='#') Administracion
                        li.nav-item
                            a.nav-link(href='#') Estudios
                        li.nav-item
                            a.nav-link(href='#') Ordenes
                            //-  button(id="cambiarPaginaBtn") Cambiar Página

        main
            .lis-izq-section#patients
                //- div(class="contenido" id="contenido")
                //-   div(class="contenido" id="contenido")
                    | Contenido de la sección izquierda
            .lis-der-section#contains
                //- iframe.border(id="miIframe" src="https://favl.com.ar" width="100%" height="100%" scrolling="no")
                //- iframe(id="miIframe" src="https://www.clarin.com.ar" width="100%" height="100%" frameborder="0" scrolling="no" onload="resizeIframe(this)")
                //- iframe(id="miIframe" width="560" height="315" src="https://www.youtube.com/embed/eWTEUjUWUWs?si=koOPO-rSi3yT_RcZ&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)

            script.
                // Obtén referencias al iframe y al botón
                const iframe = document.getElementById('miIframe');
                const cambiarPaginaBtn = document.getElementById('cambiarPaginaBtn');

                // Agrega un controlador de eventos al botón
                cambiarPaginaBtn.addEventListener('click', function() {
                // Cambia la página de destino del iframe
                iframe.src = "https://www.youtube.com/embed/60ezu2ml0i4?si=WRimO4wU4bBzg6y7&amp;controls=0&amp;start=1";
                });
                    function resizeIframe(iframe) {
                        iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
                        };