div.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark(style="width: 280px")
    a(href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none")
        svg.bi.me-2(width="40" height="32")
        span.fs-4 LABORATORIO LIS
    hr
    ul.nav.nav-pills.flex-column.mb-auto
        li.nav-item
            a.nav-link.active(href="#") 
                svg.bi.me-2(width="16" height="16") Home
        li.nav-item
            a.nav-link.text-white(href="#") 
                svg.bi.me-2(width="16" height="16") Dashboard
        li.nav-item
            a.nav-link.text-white(href="#") 
                svg.bi.me-2(width="16" height="16") Orders
        li.nav-item
            a.nav-link.text-white(href="#") 
                svg.bi.me-2(width="16" height="16") Products
        li.nav-item
            a.nav-link.text-white(href="#") 
                svg.bi.me-2(width="16" height="16") Customers
    hr
    div.dropdown
        a(href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false")
            img(src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2")
            strong mdo
        ul.dropdown-menu.dropdown-menu-dark.text-small.shadow(aria-labelledby="dropdownUser1")
            li
                a.dropdown-item(href="#") New project...
            li
                a.dropdown-item(href="#") Settings
            li
                a.dropdown-item(href="#") Profile
            li
                hr.dropdown-divider
            li
                a.dropdown-item(href="#") Sign out
