include head

body.bg-gradient-primary(style="background-image: url('/assets/img/lis2.jpg')")
  .container
    .row.justify-content-center
      .col-xl-12.col-lg-12.col-md-12
        .card.o-hidden.border-0.shadow-lg.my-5
          .card-body.p-0
            .row
              .col-lg-6.d-none.d-lg-block.bg-login-image
              .col-lg-6
                .p-5
                  .text-center
                    h1.h4.text-gray-900.mb-4 Welcome Back!
                  form.user(action="/verificar" method="POST")
                    .form-group.mb-3
                      label(for="email") Username (root@example.com)
                      input(type="text" class="form-control form-control-user" id="name" name="user" aria-describedby="emailHelp" placeholder="Enter your Username")
                    .form-group.mb-3
                      label(for="password") Password (1234)
                      .input-group
                        input(type="password" class="form-control form-control-user" id="pass" name="pass" placeholder="Password")
                        .input-group-append
                          button.ocultar(type="button" class="btn btn-light toggle-password")
                            | 
                            i.fa.fa-eye-slash
                    .form-group.custom-control.custom-checkbox
                      input(type="checkbox" class="custom-control-input" id="customCheck")
                      label.custom-control-label(for="customCheck") Remember Me
                    button.login(type="submit" class="btn-block") Login
                script.
                  const togglePasswordButton = document.querySelector('.toggle-password');
                  togglePasswordButton.addEventListener('click', function () {
                    const passwordInput = document.querySelector('#password');
                    passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
                    this.querySelector('i').classList.toggle('fa-eye');
                    this.querySelector('i').classList.toggle('fa-eye-slash');
                  });
