extends layout

block content
  include navSuperior.pug
  div(class="w-100 h-100 position-relative") 
    img(class="img-fluid" src="images/doctor2.jpg" alt="" id="imagen")
    div(class="position-absolute top-0 start-0 text-white p-5 h-100 w-100 d-flex align-items-center justify-content-center shadow-sm ")
      form(action="/login" method="POST" class="d-flex flex-column align-items-center justify-content-center bg-white p-5 text-white rounded-lg" id="0" name="form_login")
        span(class="text-dark letraChida text-left w-100") Login
        span(class="text-muted letraChida text-left w-100 h6") Sign in to continue.
        input(class="inputses my-3" type="text" id="1" name="user" placeholder="User")
        input(class="inputses" type="password" id="pass" name="pass" placeholder="Password") 
        label(for="pass" id="see" class="text-muted letraChida text-center w-100 mt-3" style="font-size: 10px") See password
        div(class="mt-4 w-100")
          button(class="btn bg-dark text-white rounded-0 w-100 letraChida shadow-sm")
            a(class="enlace text-white letraChida h6 w-100 h-100") Log in
        span(class="text-muted letraChida text-center w-100 mt-3" style="font-size: 12px") Forgot Password?
        script.
          const see = document.querySelector("#see");
          const pass = document.querySelector("#pass");
          see.addEventListener("click", () => {
            if (pass.type === "password") {
              pass.type = "text";
              see.textContent = "Hidden Password";
            } else {
              pass.type = "password";
              see.textContent = "See Password";
            }
          });
