extends layout 

block content
      include navSuperiorMenu.pug 
      include navLateralMenu.pug
      div(class="position-absolute top-0 end-0 p-5 h-100 w-75 d-flex flex-column letraChida" id="contenido-derecho")
        p(class="letraChida h4 pt-5") Welcome
        span(class="letraChida h6 text-secondary") Integrated biochemical laboratory and analysis system.
        div(class="position absolute top-0 d-flex justify-content-center w-100 h-100")
          i(class="fa-solid fa-flask-vial logoGigante")
      script.
         const opcionesMenu = document.querySelectorAll('a.enlace');

         opcionesMenu.forEach((opcion) => {
          opcion.addEventListener('click', (e) => {
            e.preventDefault();
            const id = opcion.getAttribute('id');
            fetch(`/main/${id}`)
              .then((response) => response.text())
              .then((data) => {
                document.querySelector('#contenido-derecho').innerHTML = data;
                nuevosEnlaces();
              });
          });
         });

         function nuevosEnlaces(){ 
         const linksUsuarios = document.querySelectorAll('.enlace-usuario');
         linksUsuarios.forEach((enlace) => {
          enlace.addEventListener('click', (e) => {
            e.preventDefault();
            const id = enlace.getAttribute('id');
            fetch(`/main/patient/${id}`)
              .then((response) => response.text())
              .then((data) => {
                document.querySelector('#contenido-derecho').innerHTML = data;
                nuevosEnlacesUpdate();
              });
          });
         });
         function nuevosEnlacesUpdate(){ 
         const updates = document.querySelectorAll('a.update2');

         updates.forEach((opcion) => {
          opcion.addEventListener('click', (e) => {
            e.preventDefault();
            const id = opcion.getAttribute('id');
            fetch(`/main/patient/${id}`)
              .then((response) => response.text())
              .then((data) => {
                document.querySelector('#contenido-derecho').innerHTML = data;
                nuevosEnlaces();
              });
          });
         });
         }
         }

      

