nav(class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top")
    div(class="container-fluid")
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLabLis" aria-controls="navbarLabLis" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse justify-content-center" id="navbarLabLis")
            button(type="button" class="btn btn-primary m-2 text-center justify-content-center")
                a(class="navbar-brand" href="#") Home
            button(type="button" class="btn btn-primary m-2 text-center")    
                a(class="navbar-brand" href="#") Patients
            button(type="button" class="btn btn-primary m-2 text-center")    
                a(class="navbar-brand" href="#") Orders
            button(type="button" class="btn btn-primary m-2 text-center")    
                a(class="navbar-brand" href="#") Admin

