extends layout 

block content 
  div(class= "bg-dark w-25  text-center text-white p-1 rounded") Menu
     ul(class="w-75 sinPunto") 
       li(class="text-white") 
       li(class="") 
         a(href="" class="d-flex flex-row my-2 enlace")   
            i(class="fas fa-user-md mx-1" style="color: #ffffff;")
            p(class="") Paciente
       li 
         a(href="" class="d-flex flex-row my-2 enlace")   
            i(class="fas fa-briefcase-medical mx-1" style="color: #ffffff;")
            p(class="") Orden de Trabajo
       li 
         a(href="" class="d-flex flex-row my-2 enlace")   
            i(class="fas fa-notes-medical mx-1" style="color: #ffffff;")
            p(class="") Resultados
       li 
         a(href="" class="d-flex flex-row my-2 enlace")  
            i(class="fas fa-file-medical mx-1" style="color: #ffffff;")
            p(class="") Examenes
       li 
         a(href="" class="d-flex flex-row my-2 enlace")  
            i(class="fas fa-syringe mx-1" style="color: #ffffff;")
            p(class="") Muestras
       li 
         a(href="" class="d-flex flex-row my-2 enlace")  
            i(class="fas fa-users mx-1" style="color: #ffffff;")
            p(class="") Gestion Usuarios
       li 
         a(href="" class="d-flex flex-row my-2 enlace")  
            i(class="fas fa-calendar-alt mx-1" style="color: #ffffff;")
            p(class="") Gestion Auditoria