extends layout 
block content 
  div(class="position-fixed w-100 p-2 letraChida d-flex justify-content-star card rounded-0")
     div(class="position relative w-100 h5 text-end")
       a(href="")
            i(class="fa-solid fa-power-off enlaceMenu px-1") 