extends layout 
block content 
  div(class="position-fixed w-100 p-2 letraPiola d-flex justify-content-end" style="z-index:1")
     a(href="")
         i(class="")
     div(class="px-3")
         ul(class="sinPunto d-flex flex-row")
             li(class="mx-3")
             a(class="enlace" href="") BIENVENIDOS
             li(class="mx-3")
             a(class="enlace" href="") SERVICIOS
             li(class="mx-3")
             a(class="enlace" href="") ACCESO
             li(class="mx-3")
             a(class="enlace" href="") CONTACTO
             li(class="mx-3")
             a(class="enlace" href="")
                i(class="fa-solid fa-magnifying-glass")
