extends layout 
block content 
  div(class="position-fixed w-100 p-2 letraChida d-flex justify-content-end" style="z-index:1")
    div(class="position relative w-100 h2")
      a(href="")
        i(class="fas fa-syringe enlace px-1")
    div(class="px-3 h6")
      ul(class="sinPunto d-flex flex-row")
        li(class="mx-3")
        a(class="enlace" href="/") HOME
        li(class="mx-3")
        a(class="enlace" href="") SERVICES
        li(class="mx-3")
        a(class="enlace" href="/login") LOGIN
        li(class="mx-3")
        a(class="enlace" href="") CONTACT
        li(class="mx-3")
        a(class="enlace" href="")
          i(class="fa-solid fa-magnifying-glass")
