block content 
  div(class="position-fixed top-0 w-100 p-2 letraChida d-flex justify-content-star card rounded-0" style="z-index:2")
     div(class="position relative w-100 h5 text-end")
       a(href="")
            i(class="fa-solid fa-power-off enlaceMenu px-1") 