extends layout

block content
  h2 Lista de Usuarios
  ul
    each user in users
      li= user.first_name + ' ' + user.last_name
  h2 Crear Nuevo Usuario
  form(action="/users", method="POST")
    .form-group
      label(for="first_name") Nombre
      input(type="text", class="form-control", id="first_name", name="first_name", placeholder="Nombre", required)
    .form-group
      label(for="last_name") Apellido
      input(type="text", class="form-control", id="last_name", name="last_name", placeholder="Apellido", required)
    .form-group
      label(for="email") Correo Electrónico
      input(type="email", class="form-control", id="email", name="email", placeholder="Correo Electrónico", required)
    // Agrega más campos según tu modelo de usuario
    button(type="submit", class="btn btn-primary") Crear Usuario
