p(class="letraChida h4 pt-5") Patient manager
span(class="letraChida h6 text-secondary") The user manager allows you to add, search, delete and update a patient.
div(class="position-absolute top-0 end-0 p-5 h-100 w-100 d-flex align-items-center justify-content-center letraChida")
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center" )
    a(class="w-100 h-100 enlace-usuario" href="" id="add")
      i(class="fa-solid fa-user-plus enlace px-1 text-dark" style="font-size:100px")
    span(class="text-dark h4") add patient
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center" )
    a(class="w-100 h-100 enlace-usuario" href="" id="search")
      i(class="fa-solid fa-magnifying-glass enlace px-1 text-dark" style="font-size:100px")
    span(class="text-dark h4") Search patients