p(class="letraChida h4 pt-5") Result manager
pan(class="letraChida h6 text-secondary") The Result manager allows you to add, delete and update a result.
div(class="position-absolute top-0 end-0 p-5 h-100 w-100 d-flex align-items-center justify-content-center letraChida")
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center" )
    a(class="w-100 h-100" href="")
      i(class="fa-solid fa-user-plus enlace px-1 text-dark" style="font-size:100px")
    span(class="text-dark") add patient
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center" )
    a(class="w-100 h-100" href="")
      i(class="fa-solid fa-user-xmark enlace px-1 text-dark" style="font-size:100px")
    span(class="text-dark") delete patient 
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center" )
    a(class="w-100 h-100" href="")
      i(class="fa-solid fa-pen-to-square enlace px-1 text-dark" style="font-size:100px")
    span(class="text-dark") update patient
  div(class="d-flex flex-column justify-content-center align-items-center card p-4 mx-3 text-center" )
    a(class="w-100 h-100" href="")
      i(class="fa-solid fa-list enlace px-1 text-dark" style="font-size:100px")
    span(class="text-dark") View patients