block content 
  div(class= "position-fixed bg-dark w-25  h-100 text-center text-white px-1 py-5 rounded-0 letraChida" style="z-index:3")
     div(class="d-flex flex-column justify-content-center align-items-center my-4")
        img(class="img-fluid rounded-circle w-50" src="images/perfil-de-usuario.webp" alt="" id="imagen")
        span(class="letraChida h5 mt-1") Carlos Shumaher 
        span(class="letraChida h6 text-secondary") Bioquimico
     ul(class="w-75 sinPunto h6") 
       li(class="text-white") 
       li(class="") 
         a(href="" id="patient" class="d-flex flex-row my-2 enlace")   
            i(class="fas fa-user-md mx-1" style="color: #ffffff;")
            p(class="") Patient
       li 
         a(href="" id="order"  class="d-flex flex-row my-2 enlace")   
            i(class="fas fa-briefcase-medical mx-1" style="color: #ffffff;")
            p(class="") Order of work
       li 
         a(href="" id="result"  class="d-flex flex-row my-2 enlace")   
            i(class="fas fa-notes-medical mx-1" style="color: #ffffff;")
            p(class="") Result
       li 
         a(href="" id="exam"  class="d-flex flex-row my-2 enlace")  
            i(class="fas fa-file-medical mx-1" style="color: #ffffff;")
            p(class="") Exam
       li 
         a(href="" id="sample"  class="d-flex flex-row my-2 enlace")  
            i(class="fas fa-syringe mx-1" style="color: #ffffff;")
            p(class="") Sample
       li 
         a(href="" id="user"  class="d-flex flex-row my-2 enlace")  
            i(class="fas fa-users mx-1" style="color: #ffffff;")
            p(class="") User Manager
       li 
         a(href="" id="audit"  class="d-flex flex-row my-2 enlace")  
            i(class="fas fa-calendar-alt mx-1" style="color: #ffffff;")
            p(class="") Audit Manager